.itinerary-ticket-information-purchase {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  background-color: $primary-color;
  font-weight: $font-weight-book;
  font-size: $font-size-small;
  margin: 0 10px;
  border-radius: 10px;
  line-height: 1.1;

  .ticket-container {
    margin: 11px 6px 9px 15px;
    max-width: 240px;

    @include min-width(tablet) {
      margin-right: 15px;
    }

    .ticket-type-zone {
      @include font-medium;

      align-items: center;
      font-size: 1.125rem;

      .ticket-description {
        white-space: nowrap;
        font-weight: $font-weight-book;
      }
    }
  }

  .app-link {
    .external-link-container {
      border: 0;
      line-height: 25px;

      a.external-link {
        font-size: 16px;
        color: $primary-color;
      }
    }

    position: absolute;
    right: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 140px;
    height: 40px;
    background: #fff;
    font-weight: $font-weight-medium;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
}
