.navigator-modal-content {
  .intro-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    gap: var(--space-m);

    h2,
    p {
      margin: unset;
      align-self: center;
    }

    .login-tip {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      gap: var(--space-xs);
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      align-items: stretch;
      gap: var(--space-m);

      .feature {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-s);

        .right-column {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: var(--space-xxs);
        }
      }
    }
  }

  .intro-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--space-s);
  }
}
