$fixed-width-padding: 16px;

.navi-start-container {
  padding: 0 10px;

  button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $infobox-color-generic-blue;
    margin: 4px 0 0 0;
    padding: var(--space-m);
    gap: var(--space-s);
    font-weight: normal;
    border-radius: $border-radius-bigger;

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: var(--space-s);
    }

    span.icon-container {
      display: flex;
      align-items: center;
      justify-content: center;

      :last-of-type {
        margin-left: auto;
      }
    }

    span.icon-container:last-of-type {
      margin-left: auto;
    }
  }
}

.bold {
  font-weight: $font-weight-medium;
}

.notification-header {
  font-size: $font-size-normal;
  font-weight: $font-weight-medium;
}

.navi-card-container {
  position: fixed;
  width: 100vw;

  &.slide-out {
    animation: slideUpToTop 3s ease-out forwards;
  }

  &.hide-card {
    animation: hideTopCard 2s ease-out forwards;
    pointer-events: none;
  }

  &.show-card {
    animation: slideDownFromTop 2s ease-out forwards;
  }
}

.navi-top-card {
  margin: 0 var(--space-s) 5px var(--space-s);
  border-radius: 8px;
  min-height: 70px;
  color: black;
  background-color: white !important;
  display: flex;
  align-items: center;
  letter-spacing: -0.3px;
  box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.2);
  width: calc(100vw - #{$fixed-width-padding});
  cursor: default;
  font-size: $font-size-normal;
  font-weight: $font-weight-book;

  &.expanded {
    max-height: unset;
  }

  .navi-top-card-arrow {
    .inverted {
      transform: rotate(180deg);
    }
  }

  .main-card {
    width: 100%;
    margin: var(--space-m) var(--space-l);

    .content {
      display: flex;
      flex-direction: row;
      color: black;
      justify-content: center;

      .mode {
        width: 32px;
        height: 32px;
        color: black;
        margin-right: var(--space-s);
        margin-top: var(--space-xxs);
      }
    }

    .instructions {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;

      &.expanded {
        margin-bottom: 0;
      }

      .vehicle-leg {
        display: flex;
        margin-top: var(--space-xs);
        width: 80%;
        text-align: left;
      }

      .wait-leg {
        display: flex;
        margin-top: 3px;
        flex-direction: column;
        align-items: flex-start;

        .route-info {
          display: flex;
          align-self: flex-start;
          margin-bottom: var(--space-xcs);
        }

        .wait-duration {
          margin-top: var(--space-xs);
        }

        .bar {
          border-radius: $border-radius;
        }

        .route-number {
          .vcenter-children {
            .vehicle-number {
              color: white;
              margin-top: 5px;
            }

            display: flex;
          }
        }

        .headsign {
          margin-left: 10px;
          font-size: $font-size-small;
          max-width: 85%;
          text-align: left;
          align-content: center;
        }

        .icon {
          margin-top: 2px;
          height: 25px;
          width: 25px;
        }
      }
    }

    .duration {
      &.fade-out {
        animation: fadeOut 3s forwards;
      }

      font-size: $font-size-xsmall;
      font-weight: $font-weight-book;
      display: flex;
      margin-top: 4px;
    }

    .extension {
      flex-direction: column;
      max-height: 250px;
      margin-bottom: var(--space-s);

      .extension-divider {
        height: 1px;
        background: #ddd;
        width: 85%;
        margin-left: 35px;
        margin-top: var(--space-s);
        margin-bottom: var(--space-s);
      }

      .stop-count {
        display: flex;
        margin-left: 35px;
      }

      .extension-routenumber {
        display: flex;
        flex-direction: row;
        margin-left: 35px;
        margin-bottom: var(--space-s);
        text-align: left;

        .bar {
          border-radius: $border-radius;
        }

        .route-number {
          .vcenter-children {
            .vehicle-number {
              color: white;
              margin-top: 5px;
            }

            display: flex;
          }
        }

        .line {
          text-align: center;

          .icon {
            font-size: 24px;
          }
        }

        .headsign {
          display: flex;
          flex-direction: column;
          margin-left: var(--space-xs);
          justify-content: center;
          font-size: $font-size-small;
          max-width: 85%;
        }
      }

      .extension-walk {
        display: flex;
        margin-left: var(--space-xl);
        margin-bottom: var(--space-s);
        margin-top: var(--space-xs);
      }

      .wait-in-vehicle {
        display: flex;
        align-items: flex-start;
        text-align: start;
        margin-left: var(--space-xl);
      }

      .icon-expand {
        margin-top: 5px;
        width: var(--space-m);
        height: var(--space-m);
      }

      .destination-icon {
        margin: 0 10px;

        &.place {
          fill: $to-color;
        }

        &.bus-stop {
          color: $bus-color;
        }

        &.bus-express {
          color: $bus-express-color;
        }

        &.speedtram {
          color: $speedtram-color;
        }

        &.tram-stop {
          color: $tram-color;
        }

        &.subway-stop {
          color: $metro-color;
        }

        &.rail-stop {
          color: $rail-color;
        }

        &.ferry-stop {
          color: $ferry-color;
        }

        &.funicular-stop {
          color: $funicular-color;
        }

        &.speedtram-stop {
          color: $speedtram-color;
        }
      }

      .destination {
        text-align: left;

        .details {
          > * {
            margin-right: var(--space-xs);
          }

          .address {
            color: #888;
          }

          .platform-short {
            width: unset;
          }

          .zone-icon-container {
            margin-top: 2px;
          }

          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}

.navigator-modal-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000; // higher than navbar
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.navigator-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999; // higher than navbar, below modal body
  height: 100%;
}

.navigator-modal {
  position: fixed;
  background: white;
  width: 100%;
  border-radius: var(--radius-xl) var(--radius-xl) 0 0;

  &.slide-in {
    animation: slideUpFromBottom 0.5s ease-in-out;
  }
}

.navigator-modal-content {
  display: flex;
  flex-direction: column;
  padding: var(--space-xl) var(--space-l) var(--space-l) var(--space-l);
  gap: var(--space-xl);
}

.info-stack {
  position: fixed;
  height: 69px;
  letter-spacing: -0.3px;
  width: calc(100% - #{$fixed-width-padding});
  margin-right: 8px;
  margin-left: 8px;

  div:first-child {
    margin-top: 0;
  }

  .info-stack-item:not(:first-child) {
    margin-top: 5px;
  }

  &.slide-out {
    animation:
      slideUpFromBottom 0.5s ease-out forwards,
      fadeOut 0.5s ease-out forwards;
    pointer-events: none;
  }

  &.slide-in {
    animation:
      slideDownFromTop 0.5s ease-out forwards,
      fadeIn 0.5s ease-out forwards;
  }

  .info-stack-item {
    position: relative;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 16px;
    box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.2);
    animation:
      slideDownFromTop 0.5s ease-out forwards,
      fadeIn 0.5s ease-out forwards;
    font-size: $font-size-xsmall;
    font-weight: $font-weight-book;

    .icon-container {
      display: flex;
      align-self: flex-start;
      height: 16px;
      width: 16px;
    }

    .navi-info-content {
      display: flex;
      flex-direction: column;
      margin-left: 8px;
      margin-right: 8px;
      width: 100%;
    }

    &.info {
      background-color: #e5f2fa;
    }

    &.warning {
      background-color: #fff8e8;
    }

    &.alert {
      background-color: #fdf3f6;
    }

    .new-itinerary-search {
      padding: var(--space-s, 16px) var(--space-xs, 8px) var(--space-s, 16px)
        var(--space-s, 16px);
      background: #0074bf;
      color: #fff;
      border-radius: 999px; // var(--radius-radius-medium, 8px);
      margin-top: var(--space-xxs);

      /* box-shadow-card-s-strong */
      box-shadow: 0 2px 4px 0 var(--color-shadow-strong, rgba(51, 51, 51, 0.2));
    }

    &.slide-out-right {
      animation:
        slideLeft 0.5s ease-out forwards,
        fadeOut 0.5s ease-out forwards;
      pointer-events: none;
    }

    .info-close {
      display: flex;
      align-self: flex-start;
      margin-left: 1px;

      .icon-container {
        height: 32px;
        width: 32px;

        .icon {
          &.notification-close {
            width: 32px;
            height: 32px;
          }
        }
      }
    }

    .info-icon {
      margin-right: 8px;
    }

    &.slide-in {
      animation:
        slideDownFromTop 0.5s ease-out forwards,
        fadeOut 0.5s ease-out forwards;
    }
  }
}

.navi-bottom-sheet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: $font-size-normal;
  text-align: center;
  margin: var(--space-m) var(--space-l);

  &.ticket-link {
    margin: var(--space-l) var(--space-m);

    .navi-time {
      align-items: inherit;
    }
  }

  .navi-close-button {
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: white;
    border-color: $cancelation-red;
    color: $cancelation-red;
  }

  .navi-time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $black;

    .navi-daytime {
      font-size: $font-size-xsmall;
      font-weight: $font-weight-book;
    }
  }

  .navi-ticket-button {
    border-radius: 20px;
    width: 100px;
    height: 40px;
    text-align: center;
    margin-left: 16px;
    background-color: $primary-color;
    color: white;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

@keyframes slideDownFromTop {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes hideTopCard {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes slideUpFromBottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideUpToTop {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100vh - 100%));
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
