.navi-start-container {
  padding: 0 10px;

  button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $infobox-color-generic-blue;
    margin: 4px 0 0 0;
    padding: var(--space-m);
    gap: var(--space-s);
    font-weight: normal;
    border-radius: $border-radius-bigger;

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: var(--space-s);
    }

    span.icon-container {
      display: flex;
      align-items: center;
      justify-content: center;

      :last-of-type {
        margin-left: auto;
      }
    }

    span.icon-container:last-of-type {
      margin-left: auto;
    }
  }
}

.bold {
  font-weight: $font-weight-medium;
}

.navitop {
  margin-bottom: 5px;
  position: fixed;
  top: 80px;
  width: 92%;
  margin-left: 4%;
  border-radius: 15px;
  min-height: 70px;
  color: black;
  background-color: white !important;
  display: flex;
  align-items: center;

  &.expanded {
    max-height: unset;
  }

  .navitop-arrow {
    .inverted {
      transform: rotate(180deg);
    }

    position: absolute;
    right: 20px;
  }

  .content {
    width: 100%;

    .navi-top-card {
      margin: 16px 24px 16px;

      .main-card {
        display: flex;
        flex-direction: row;
        color: black;

        .mode {
          width: 32px;
          height: 32px;
          color: black;
          margin-right: var(--space-s);
          margin-top: var(--space-xxs);
        }
      }

      .instructions {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: $font-size-normal;
        font-weight: $font-weight-medium;

        &.expanded {
          margin-bottom: 0;
        }

        .destination-header {
          font-size: $font-size-normal;
          font-weight: 500;
          display: flex;
        }

        .vehicle-leg {
          display: flex;
          margin-top: var(--space-xs);
          font-weight: $font-weight-book;
          width: 80%;
          text-align: left;
        }

        .wait-leg {
          display: flex;
          align-items: center;
          margin-top: 3px;
          flex-direction: column;
          align-self: flex-start;

          .route-info {
            display: flex;
            align-self: flex-start;
            margin-bottom: var(--space-xcs);
          }

          .wait-duration {
            font-weight: $font-weight-book;
            margin-top: var(--space-xs);
          }

          .bar {
            border-radius: $border-radius;
          }

          .route-number {
            .vcenter-children {
              .vehicle-number {
                color: white;
                margin-top: 5px;
              }

              display: flex;
            }
          }

          .headsign {
            margin-left: 10px;
            font-size: $font-size-small;
            font-weight: $font-weight-book;
            max-width: 120px;
            text-align: left;
            align-content: center;
          }

          .icon {
            margin-top: 2px;
            height: 25px;
            width: 25px;
          }
        }
      }

      .duration {
        &.fade-out {
          animation: fadeOut 3s forwards;
        }

        font-size: $font-size-xsmall;
        font-weight: $font-weight-book;
        display: flex;
      }
    }

    .extension {
      flex-direction: column;
      max-height: 250px;
      margin-bottom: var(--space-s);

      .extension-divider {
        border: 1px solid #ddd;
        width: 75%;
        margin-left: 35px;
        margin-top: var(--space-s);
        margin-bottom: var(--space-s);
      }

      .stop-count {
        display: flex;
        margin-left: 35px;
        font-weight: $font-weight-book;
      }

      .extension-routenumber {
        display: flex;
        flex-direction: row;
        font-weight: $font-weight-book;
        margin-left: 35px;
        margin-bottom: var(--space-s);
        text-align: left;

        .bar {
          border-radius: $border-radius;
        }

        .route-number {
          .vcenter-children {
            .vehicle-number {
              color: white;
              margin-top: 5px;
            }

            display: flex;
          }
        }

        .line {
          text-align: center;

          .icon {
            font-size: 24px;
          }
        }

        .headsign {
          display: flex;
          flex-direction: column;
          margin-left: var(--space-xs);
          justify-content: center;
          font-size: $font-size-small;
        }
      }

      .extension-walk {
        display: flex;
        margin-left: var(--space-xl);
        margin-bottom: var(--space-s);
        margin-top: var(--space-xs);
      }

      .icon-expand {
        margin-top: 5px;
        width: var(--space-m);
        height: var(--space-m);
      }

      .destination-icon {
        margin: 0 10px;

        &.place {
          fill: $to-color;
        }

        &.bus-stop {
          color: $bus-color;
        }

        &.tram-stop {
          color: $tram-color;
        }

        &.subway-stop {
          color: $metro-color;
        }

        &.rail-stop {
          color: $rail-color;
        }

        &.ferry-stop {
          color: $ferry-color;
        }

        &.funicular-stop {
          color: $funicular-color;
        }

        &.speedtram-stop {
          color: $speedtram-color;
        }
      }

      .destination {
        font-weight: $font-weight-book;
        text-align: left;

        .details {
          > * {
            margin-right: var(--space-xs);
          }

          .address {
            color: #888;
          }

          .platform-short {
            width: unset;
          }

          .zone-icon-container {
            margin-top: 2px;
          }

          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.info-stack {
  position: fixed;
  height: 69px;
  margin-left: 5%;
  width: 90%;
  top: 160px;

  div:first-child {
    margin-top: 0;
  }

  .info-stack-item:not(:first-child) {
    margin-top: 5px;
  }

  &.slide-out {
    animation: slideOut 0.5s ease-out forwards;
    pointer-events: none;
  }

  &.slide-in {
    animation: slideIn 0.5s ease-out forwards;
  }

  .info-stack-item {
    position: relative;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 16px;

    .icon-container {
      display: flex;
      align-self: flex-start;
      height: 16px;
      width: 16px;
    }

    &.info {
      background-color: #e5f2fa;
    }

    &.warning {
      background-color: #fff8e8;

      .navi-alert-content {
        width: 100%;
      }
    }

    &.alert {
      background-color: #fdf3f6;

      .navi-alert-content {
        display: flex;
        flex-direction: column;
        margin-left: 8px;

        span:first-child {
          font-weight: $font-weight-medium;
          font-size: $font-size-normal;
        }

        span:last-child {
          font-size: $font-size-small;
          font-weight: $font-weight-book;
        }

        .header {
          font-size: $font-size-small;
        }
      }

      .alt-btn {
        display: flex;
        flex-direction: column;
        width: 100%;

        .show-options {
          padding: var(--space-s, 16px) var(--space-xs, 8px)
            var(--space-s, 16px) var(--space-s, 16px);
          background: #0074bf;
          color: #fff;
          border-radius: 999px; // var(--radius-radius-medium, 8px);
          margin-top: var(--space-xxs);

          /* box-shadow-card-s-strong */
          box-shadow: 0 2px 4px 0
            var(--color-shadow-strong, rgba(51, 51, 51, 0.2));
        }
      }
    }

    &.slide-out-right {
      animation: slideOutRight 0.5s ease-out forwards;
      pointer-events: none;
    }

    .info-close {
      display: flex;
      align-self: flex-start;
      margin-left: 1px;

      .icon-container {
        height: 24px;
        width: 24px;

        .icon {
          &.notification-close {
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    .info-icon {
      margin-right: 8px;
    }

    &.slide-in {
      animation: slideIn 0.5s ease-out forwards;
    }

    .navi-info {
      display: flex;
      flex-direction: column;
      margin-left: 25px;

      span:first-child {
        font-weight: $font-weight-medium;
        font-size: $font-size-normal;
      }

      span:last-child {
        font-size: $font-size-xsmall;
      }
    }

    .navi-info-content {
      display: flex;
      flex-direction: column;
      margin-left: 8px;
      width: 100%;

      span:first-child {
        font-weight: $font-weight-medium;
        font-size: $font-size-normal;
      }

      span:last-child {
        font-size: $font-size-xsmall;
        font-weight: $font-weight-book;
      }
    }
  }
}

.navibottomsheet {
  .divider {
    width: 100%;
    height: 1px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
  }

  .navi-bottom-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: $font-size-normal;
    text-align: center;
    margin: 20px 24px 10px 24px;

    .navi-close-button {
      border-style: solid;
      border-width: 1px;
      border-radius: 20px;
      width: 100px;
      height: 40px;
      text-align: center;
      background-color: white;
      border-color: red;
      color: red;
    }

    .navi-time {
      display: flex;
      flex-direction: column;

      .navi-daytime {
        font-size: $font-size-xsmall;
        font-weight: $font-weight-book;
      }
    }

    .navi-ticket-button {
      border-radius: 20px;
      width: 100px;
      height: 40px;
      text-align: center;
      margin-left: 16px;
      background-color: $primary-color;
      color: white;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
